In [21]:
import pandas as pd
import pymysql
import sqlalchemy

In [23]:
df = pd.read_csv('부산기온.csv')

In [24]:
df.head()

   Unnamed: 0  도시                날짜  날씨  최저  최고
0           0  부산  2020-12-31 00:00  맑음  -7   3
1           1  부산  2020-12-31 12:00  맑음  -7   3
2           2  부산  2021-01-01 00:00  맑음  -4   4
3           3  부산  2021-01-01 12:00  맑음  -4   4
4           4  부산  2021-01-02 00:00  맑음  -2   6

In [25]:
del df['Unnamed: 0']

In [26]:
df

    도시                날짜    날씨  최저  최고
0   부산  2020-12-31 00:00    맑음  -7   3
1   부산  2020-12-31 12:00    맑음  -7   3
2   부산  2021-01-01 00:00    맑음  -4   4
3   부산  2021-01-01 12:00    맑음  -4   4
4   부산  2021-01-02 00:00    맑음  -2   6
5   부산  2021-01-02 12:00    맑음  -2   6
6   부산  2021-01-03 00:00  구름많음  -1   8
7   부산  2021-01-03 12:00    맑음  -1   8
8   부산  2021-01-04 00:00  구름많음   1   8
9   부산  2021-01-04 12:00  구름많음   1   8
10  부산  2021-01-05 00:00  구름많음  -1   6
11  부산  2021-01-06 00:00    맑음  -4   4
12  부산  2021-01-07 00:00    맑음  -4   3

In [27]:
df.columns=['city','tmef','wf','tmn','tmx']
df

   city              tmef    wf  tmn  tmx
0    부산  2020-12-31 00:00    맑음   -7    3
1    부산  2020-12-31 12:00    맑음   -7    3
2    부산  2021-01-01 00:00    맑음   -4    4
3    부산  2021-01-01 12:00    맑음   -4    4
4    부산  2021-01-02 00:00    맑음   -2    6
5    부산  2021-01-02 12:00    맑음   -2    6
6    부산  2021-01-03 00:00  구름많음   -1    8
7    부산  2021-01-03 12:00    맑음   -1    8
8    부산  2021-01-04 00:00  구름많음    1    8
9    부산  2021-01-04 12:00  구름많음    1    8
10   부산  2021-01-05 00:00  구름많음   -1    6
11   부산  2021-01-06 00:00    맑음   -4    4
12   부산  2021-01-07 00:00    맑음   -4    3

In [28]:
df

   city              tmef    wf  tmn  tmx
0    부산  2020-12-31 00:00    맑음   -7    3
1    부산  2020-12-31 12:00    맑음   -7    3
2    부산  2021-01-01 00:00    맑음   -4    4
3    부산  2021-01-01 12:00    맑음   -4    4
4    부산  2021-01-02 00:00    맑음   -2    6
5    부산  2021-01-02 12:00    맑음   -2    6
6    부산  2021-01-03 00:00  구름많음   -1    8
7    부산  2021-01-03 12:00    맑음   -1    8
8    부산  2021-01-04 00:00  구름많음    1    8
9    부산  2021-01-04 12:00  구름많음    1    8
10   부산  2021-01-05 00:00  구름많음   -1    6
11   부산  2021-01-06 00:00    맑음   -4    4
12   부산  2021-01-07 00:00    맑음   -4    3

In [29]:
# 디비 입력 단계
# sqlalchemy => db 연동, ORM 처리등 고급 데이터 베이스 연동 처리 모듈
from sqlalchemy import create_engine
import pandas.io.sql as pSql

In [30]:
 protocal = 'mysql+pymysql'
 user     = 'root'
 password = '12341234'
 domain   = 'localhost'
 database = 'python_db'
 
 db_url = f'{protocal}://{user}:{password}@{domain}/{database}'  # => 일반적인 프로토콜의 모습
 # 포트도 쓸 수 있는데 3306 쓰는거 다 아니까 안쓴느거임
 db_url

'mysql+pymysql://root:12341234@localhost/python_db'

In [31]:
 # 2. 엔진 생성
 engine = create_engine( db_url, encoding='utf8')

In [32]:
 # 3. 실연결
 conn = engine.connect()

In [33]:
 # 4. 테이블 생성 및 데이터 주입
 # (테이블은 없으면 만들어 버리고; 있으면 그냥 오픈-> 우리는 데이터를 추가함)
 df.to_sql( name='busancasts',con=conn,if_exists='append', index= False)

In [34]:
 # 5. 연결 해제
 conn.close()