In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from datetime import datetime 
from pandas_datareader import data

matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

In [7]:
data = np.random.randint(1,10, size=4)
data

array([3, 5, 5, 6])

In [8]:
data = np.random.randint(30,101, size=(4,6) )
data

array([[ 60,  30,  41,  39,  97,  76],
       [ 84,  78,  51,  52,  31, 100],
       [ 83,  97,  99,  58,  40,  69],
       [ 45,  61,  61,  43,  36,  64]])

In [10]:
df = pd.DataFrame( data )
df

    0   1   2   3   4    5
0  60  30  41  39  97   76
1  84  78  51  52  31  100
2  83  97  99  58  40   69
3  45  61  61  43  36   64

In [11]:
df['년도'] = [2018,2018,2019,2019]
df['반'] = ['1반','2반','1반','2반']
df

    0   1   2   3   4    5    년도   반
0  60  30  41  39  97   76  2018  1반
1  84  78  51  52  31  100  2018  2반
2  83  97  99  58  40   69  2019  1반
3  45  61  61  43  36   64  2019  2반

In [12]:
# 멀티 인덱스 설정
df.set_index(['년도','반'])

          0   1   2   3   4    5
년도   반
2018 1반  60  30  41  39  97   76
     2반  84  78  51  52  31  100
2019 1반  83  97  99  58  40   69
     2반  45  61  61  43  36   64

In [16]:
df.index = pd.MultiIndex.from_product([[2018,2019],['1반','2반']], 
                    names=['년도','반'])
df

          0   1   2   3   4    5    년도   반
년도   반
2018 1반  60  30  41  39  97   76  2018  1반
     2반  84  78  51  52  31  100  2018  2반
2019 1반  83  97  99  58  40   69  2019  1반
     2반  45  61  61  43  36   64  2019  2반

In [18]:
df.index.levels[0]

Int64Index([2018, 2019], dtype='int64', name='년도')

In [21]:
df.index.levels[1]

Index(['1반', '2반'], dtype='object', name='반')

In [24]:
# 멀티인덱스 값 가져오기
df.index.get_level_values(0)

Int64Index([2018, 2018, 2019, 2019], dtype='int64', name='년도')

In [26]:
df.drop(columns=['년도','반'], inplace=True)

In [28]:
# 인덱스를 컬럼으로 만들어준다.
df.reset_index()

     년도   반   0   1   2   3   4    5
0  2018  1반  60  30  41  39  97   76
1  2018  2반  84  78  51  52  31  100
2  2019  1반  83  97  99  58  40   69
3  2019  2반  45  61  61  43  36   64

In [30]:
df.loc[2018]

     0   1   2   3   4    5
반
1반  60  30  41  39  97   76
2반  84  78  51  52  31  100

In [32]:
df.columns = pd.MultiIndex.from_product([['홍길동','이순신','임꺽정'],['영어','국어']], 
                    names=['년도','반'])
df

년도      홍길동     이순신     임꺽정
반        영어  국어  영어  국어  영어   국어
년도   반
2018 1반  60  30  41  39  97   76
     2반  84  78  51  52  31  100
2019 1반  83  97  99  58  40   69
     2반  45  61  61  43  36   64

In [33]:
df.columns.levels[0]

Index(['이순신', '임꺽정', '홍길동'], dtype='object', name='년도')

In [34]:
df.columns.levels[1]

Index(['국어', '영어'], dtype='object', name='반')

In [35]:
df['이순신']

반        영어  국어
년도   반
2018 1반  41  39
     2반  51  52
2019 1반  99  58
     2반  61  43