## pandas.DataFrame
### https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [1]:
import pandas as pd
import numpy as np

In [2]:
d1 = [[1,2],[3,4],[5,6]]
d2 = [(1,2),(3,4),(5,6)]
d3 = [{'kor':1, 'eng':2},
      {'kor':3, 'eng':4},
      {'kor':5, 'eng':6}]
d4 ={'kor':[1,3,5],'eng':[2,4,6]}

In [7]:
# 인덱스명 변경가능
df1 = pd.DataFrame(d1, index=['a','b','c'], columns=['eng','kor'])
df1

   eng  kor
a    1    2
b    3    4
c    5    6

In [8]:
df2 = pd.DataFrame(d2)
df2

   0  1
0  1  2
1  3  4
2  5  6

In [10]:
df3 = pd.DataFrame(d3)
df3

   kor  eng
0    1    2
1    3    4
2    5    6

In [11]:
df4 = pd.DataFrame(d4)
df4

   kor  eng
0    1    2
1    3    4
2    5    6