In [1]:
import pandas as pd
import numpy as np

In [2]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [3]:
# ndim 몇차원인가?
df.ndim

2

In [4]:
# 몇행, 몇열인가
df.shape

(4, 3)

In [5]:
# 행의 갯수
len(df)

4

In [6]:
# 데이터의 갯수
df.size

12

In [7]:
# 인덱스를 컬럼으로 변경, 적용되지는 않음
df.T

       a   b   c   d
eng   10  30  50  70
kor   20  40  60  80
math  90  50  20  70

In [8]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [20]:
# 컬럼값 출력
df.keys()

Index(['eng', 'kor', 'math'], dtype='object')

In [9]:
df.columns

Index(['eng', 'kor', 'math'], dtype='object')

In [19]:
# 2차원 ndarray 객체
df.values

array([[10, 20, 90],
       [30, 40, 50],
       [50, 60, 20],
       [70, 80, 70]], dtype=int64)

In [15]:
# 타입확인 dtypes 시리즈 형태로 출력
df.dtypes

eng     int64
kor     int64
math    int64
dtype: object

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     4 non-null      int64
 1   kor     4 non-null      int64
 2   math    4 non-null      int64
dtypes: int64(3)
memory usage: 288.0+ bytes