In [3]:
import pandas as pd
import numpy as np

In [4]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [10]:
# df['a']
# df[컬럼명]
df['eng']

a    10
b    30
c    50
d    70
Name: eng, dtype: int64

In [17]:
# df['eng'].시리즈의 속성 (메소드)
print(df['eng'][0])
print(df['eng']['a':'c'])
print(df['eng'].sum())

10
a    10
b    30
c    50
Name: eng, dtype: int64
160

In [12]:
df[['eng','math']]

   eng  math
a   10    90
b   30    50
c   50    20
d   70    70

In [20]:
# df[슬라이싱(row)]
df[1:3]

   eng  kor  math
b   30   40    50
c   50   60    20

In [21]:
df['b':'c']

   eng  kor  math
b   30   40    50
c   50   60    20

### iloc 인덱싱 슬라이싱 (zero base 기준)

In [24]:
# df.iloc[행, 열]
print(df.iloc[0,0])
print(df.iloc[0])

10
eng     10
kor     20
math    90
Name: a, dtype: int64

In [31]:
print(df.iloc[[0,2,1]])
print(df.iloc[1:]) # 1행부터 끝까지

   eng  kor  math
a   10   20    90
c   50   60    20
b   30   40    50
   eng  kor  math
b   30   40    50
c   50   60    20
d   70   80    70

In [32]:
# 1행부터 끝까지 컬럼2 출력
df.iloc[1:,1]

b    40
c    60
d    80
Name: kor, dtype: int64

In [34]:
# 마지막 컬럼 제외하고 출력
df.iloc[:,:-1]

   eng  kor
a   10   20
b   30   40
c   50   60
d   70   80

In [40]:
# 특정값만 추출
df.iloc[[1,2],[0,2]]

   eng  math
b   30    50
c   50    20

### loc 인덱싱 슬라이싱 (부여된 인덱스명)

In [41]:
# df.loc[행, 열]
df.loc['a']

eng     10
kor     20
math    90
Name: a, dtype: int64

In [44]:
df.loc['a':'c']

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20

In [45]:
# 복수개의 행 선택
df.loc[['a','c','d']]

   eng  kor  math
a   10   20    90
c   50   60    20
d   70   80    70

In [49]:
df.loc['b':,'kor':]

   kor  math
b   40    50
c   60    20
d   80    70

In [51]:
df.loc['b':'c',['eng','math']]

   eng  math
b   30    50
c   50    20

In [33]:
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70