In [5]:
import pandas as pd
import numpy as np

In [25]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

### 산술연산

In [8]:
df+1

   eng  kor  math
a   11   21    91
b   31   41    51
c   51   61    21
d   71   81    71

In [9]:
df*2

   eng  kor  math
a   20   40   180
b   60   80   100
c  100  120    40
d  140  160   140

In [12]:
df['eng'] + 2
df['eng'] + df['kor']

a     30
b     70
c    110
d    150
dtype: int64

In [16]:
# 부여된 인덱스! 적용이 안되어 있음
df.loc['a'] + 2

eng     12
kor     22
math    92
Name: a, dtype: int64

In [21]:
df.loc[['b','c'],['kor','math']] = [[1,2],[3,4]]
df

   eng  kor  math
a   10   20    90
b   30    1     2
c   50    3     4
d   70   80    70

In [22]:
df.loc[['b','c'],['kor','math']] = df.loc[['b','c'],['kor','math']] +3

### boolean indexing

In [28]:
# 행단위 boolean
df[[True,False,True,False]]

   eng  kor  math
a   10   20    90
c   50   60    20

### 관계 논리연산자

In [33]:
df[(df['kor'] == 20) | (df['kor'] == 60)]

   eng  kor  math
a   10   20    90
c   50   60    20

In [32]:
df[(df['kor'] >= 20) & (df['kor'] <= 60)]

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20

In [40]:
# 데이터프레임으로 표현
df.isin({'kor':[20,60]})

     eng    kor   math
a  False   True  False
b  False  False  False
c  False   True  False
d  False  False  False

In [42]:
# 시리즈 형태로 표현
df[df['kor'].isin([20,40])]

   eng  kor  math
a   10   20    90
b   30   40    50

### query문을 이용하여 조건별 데이터 출력

In [43]:
# df[df['eng']>30]
df.query('eng>30')

   eng  kor  math
c   50   60    20
d   70   80    70

In [44]:
# df[(df['kor'] == 20) | (df['kor'] == 60)]
df.query('kor==20 or kor==60')

   eng  kor  math
a   10   20    90
c   50   60    20

In [46]:
# query문에서 변수를 사용하기 위해 포맷을 사용
num=30
df.query(f'eng>{num}')

   eng  kor  math
c   50   60    20
d   70   80    70

In [29]:
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70