In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import matplotlib

# 한글 깨짐 방지
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

In [4]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

### 데이터프레임 통계함수 디폴트 (컬럼별) axis=1 (행별)

In [17]:
df.sum()

eng     160
kor     200
math    230
dtype: int64

In [11]:
df.sum(axis=1)

a    120
b    120
c    130
d    220
dtype: int64

In [24]:
# 전체 데이터 합
df.values.sum()

590

In [29]:
# 데이터프레임을 시리즈로 변환해줌
# 멀티 인덱스
sr = df.unstack()
sr

eng   a    10
      b    30
      c    50
      d    70
kor   a    20
      b    40
      c    60
      d    80
math  a    90
      b    50
      c    20
      d    70
dtype: int64

In [32]:
sr['eng']['a']

10

In [34]:
df.unstack().sum()

590

In [41]:
# 컬럼별 평균
df.mean(axis=1).round(2)

a    40.00
b    40.00
c    43.33
d    73.33
dtype: float64

In [43]:
df.mean().mean()

49.166666666666664

In [44]:
df.max()

eng     70
kor     80
math    90
dtype: int64

In [48]:
# 컬럼별 가장 큰값의 인덱스
df.idxmax(axis=0)

eng     d
kor     d
math    a
dtype: object

In [52]:
df.median()

eng     40.0
kor     50.0
math    60.0
dtype: float64

In [53]:
df.std()

eng     25.819889
kor     25.819889
math    29.860788
dtype: float64

In [54]:
df.quantile([0.25,0.5,0.75])

       eng   kor  math
0.25  25.0  35.0  42.5
0.50  40.0  50.0  60.0
0.75  55.0  65.0  75.0

In [55]:
# 각 컬럼에 해당하는 행 갯수
df.count()

eng     4
kor     4
math    4
dtype: int64

In [59]:
# df.describe()['eng'].round(2)
df.describe().round(2)

         eng    kor   math
count   4.00   4.00   4.00
mean   40.00  50.00  57.50
std    25.82  25.82  29.86
min    10.00  20.00  20.00
25%    25.00  35.00  42.50
50%    40.00  50.00  60.00
75%    55.00  65.00  75.00
max    70.00  80.00  90.00

In [51]:
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70