In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus']=False

In [39]:
df = pd.read_csv('../data/grade.csv',index_col=['학년'])
df

     과목   결과  중간  기말
학년
1학년  국어   좋음  80  90
1학년  국어   나쁨  50  40
1학년  국어   나쁨  20  50
1학년  수학   좋음  83  95
1학년  수학   좋음  93  86
2학년  국어   나쁨  44  65
2학년  국어   좋음  95  98
2학년  수학   좋음  96  99
2학년  수학   나쁨  57  69

In [38]:
# index = 묶을 컬럼
# aggfunc = 나타낼 값 (고정값은 mean)
gradeDF = df.pivot_table(index=['학년'])
gradeDF[['중간','기말']]

       중간     기말
학년
1학년  65.2  72.20
2학년  73.0  82.75

In [16]:
# index = 묶을 컬럼
# aggfunc = 나타낼 값 
gradeDF = df.pivot_table(index=['학년'], aggfunc=sum)
gradeDF

      기말   중간
학년
1학년  361  326
2학년  331  292

In [21]:
# 학년별, 과목별 (멀티인덱스)

# g = df.groupby(['학년','과목'])
# g.mean()

gradeDF = df.pivot_table(index=['학년','과목'], aggfunc=sum)
gradeDF

         기말   중간
학년  과목
1학년 국어  180  150
    수학  181  176
2학년 국어  163  139
    수학  168  153

In [26]:
g = df.groupby(['학년','과목'])
g.mean()

          중간    기말
학년  과목
1학년 국어  50.0  60.0
    수학  88.0  90.5
2학년 국어  69.5  81.5
    수학  76.5  84.0

In [36]:
# value = 나타낼값
# columns = 특정컬럼으로 구분
gradeDF = df.pivot_table(index=['학년','과목'], values='중간',columns='결과')
gradeDF

결과        나쁨    좋음
학년  과목
1학년 국어  35.0  80.0
    수학   NaN  88.0
2학년 국어  44.0  95.0
    수학  57.0  96.0

In [45]:
gradeDF = df.pivot_table(index=['학년'], aggfunc=['sum','mean'])
gradeDF

     sum        mean
      기말   중간     기말    중간
학년
1학년  361  326  72.20  65.2
2학년  331  292  82.75  73.0

In [55]:
def fn(v):
    # print('=============')
    # print(v)
    # print('=============')
    if v.mean()>=70:
        return '합격'
    else:
        return '불합격'
    return v.mean()

In [61]:
# aggfunc = 함수명
# gradeDF = df.pivot_table(index=['학년'], values=['중간'], aggfunc=['mean',fn])
gradeDF = df.pivot_table(index=['학년'], values=['중간'], aggfunc=[lambda v: '합격' if v.mean()>=70 else '불합격','mean'])
gradeDF

    <lambda>  mean
          중간    중간
학년
1학년      불합격  65.2
2학년       합격  73.0