In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [3]:
sr.dtype

dtype('int64')

In [5]:
# 차원을 알아봄
sr.ndim

1

In [6]:
sr.shape

(5,)

In [7]:
# 전체 데이터의 갯구
sr.size

5

In [10]:
sr.name

'국어점수'

In [16]:
print(sr.index)
print(type(sr.index))

Index(['aa', 'bb', 'cc', 'dd', 'ee'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [18]:
# ndarray로 numpy처럼 적용가능
sr.values

array([10, 20, 30, 40, 50], dtype=int64)