In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [3]:
sr.index

Index(['aa', 'bb', 'cc', 'dd', 'ee'], dtype='object')

### 산술관계논리 (element wise)

In [4]:
sr + 1

aa    11
bb    21
cc    31
dd    41
ee    51
Name: 국어점수, dtype: int64

In [5]:
sr * 2

aa     20
bb     40
cc     60
dd     80
ee    100
Name: 국어점수, dtype: int64

In [6]:
#문제 세금3.3을 제한 실수령액을 구하시요
salary = pd.Series([1000,2000,3000,4000])
salary * (1-0.033)

0     967.0
1    1934.0
2    2901.0
3    3868.0
dtype: float64

In [8]:
sr [sr >= 30]

cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [10]:
sr[(sr==20) | (sr==40)]

bb    20
dd    40
Name: 국어점수, dtype: int64

In [16]:
sr[  (sr>=20) & (sr<=40) ]

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [12]:
# not 사용가능
sr[~((sr==20) | (sr==40))]

aa    10
cc    30
ee    50
Name: 국어점수, dtype: int64

In [15]:
# sr[(sr==20) | (sr==40)]
print(sr.isin([20,40]))
sr[sr.isin([20,40])]

aa    False
bb     True
cc    False
dd     True
ee    False
Name: 국어점수, dtype: bool

bb    20
dd    40
Name: 국어점수, dtype: int64

In [18]:
# sr[~((sr==20) | (sr==40))]
print(~sr.isin([20,40]))
sr[~sr.isin([20,40])]

aa     True
bb    False
cc     True
dd    False
ee     True
Name: 국어점수, dtype: bool

aa    10
cc    30
ee    50
Name: 국어점수, dtype: int64

In [20]:
# sr[  (sr>=20) & (sr<=40) ]
print(sr.between(20,40))
sr[sr.between(20,40)]

aa    False
bb     True
cc     True
dd     True
ee    False
Name: 국어점수, dtype: bool

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [22]:
sr[sr.index == 'bb']

bb    20
Name: 국어점수, dtype: int64

In [25]:
# sr.isin() => 값에서 찾음
# sr.index.isin() => 인덱스에서 찾음
sr.index.isin(['aa','cc'])

array([ True, False,  True, False, False])