In [2]:
import pandas as pd
import numpy as np

In [27]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

## CRUD

In [6]:
# sr[0] = 100
# sr.iloc[0] = 100
# sr['aa'] = 100
sr.loc['aa'] = 100
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64

In [8]:
# sr[1:3] = [1,2]
# sr.iloc[1:3] = [1,2]
# sr['bb':'cc'] = [1,2]
sr.loc['bb':'cc'] = [1,2]
sr

aa    100
bb      1
cc      2
dd     40
ee     50
Name: 국어점수, dtype: int64

In [12]:
sr['dd':'ee'] = sr['dd':'ee'] + 2
sr

aa    100
bb      1
cc      2
dd     44
ee     54
Name: 국어점수, dtype: int64

In [5]:
# 30이상인데이터에 5를 더한 값으로 수정하시요
sr[sr>=30] = sr[sr>=30] + 5
sr

aa    10
bb    20
cc    35
dd    45
ee    55
Name: 국어점수, dtype: int64

### 추가

In [7]:
# 해당 인덱스가 있으면 수정, 없으면 추가
sr.loc['ff'] = 70
sr

aa    10
bb    20
cc    35
dd    45
ee    55
ff    70
Name: 국어점수, dtype: int64

In [17]:
# 적용을 시켜줘야함
sr = sr.append(pd.Series([80,90,100], index=['gg','hh','ii']))
sr

aa     10
bb     20
cc     35
dd     45
ff     70
gg     80
hh     90
gg     80
hh     90
ii    100
dtype: int64

### 삭제

In [15]:
# sr.drop(부여된 인덱스)
# sr = sr.drop(['ee','ii'])
sr.drop(['ee','ii'], inplace=True) # 삭제를 바로 적용

In [22]:
# 25이상 데이터를 삭제하시오
sr.drop(sr[sr>=25].index,inplace=True)

In [23]:
sr

aa    10
bb    20
Name: 국어점수, dtype: int64

### 정렬

In [28]:
sr[0] = 100

In [29]:
# 오름차순
sr.sort_values()

bb     20
cc     30
dd     40
ee     50
aa    100
Name: 국어점수, dtype: int64

In [30]:
# 내림차순
sr.sort_values(ascending=False)

aa    100
ee     50
dd     40
cc     30
bb     20
Name: 국어점수, dtype: int64

In [32]:
sr.sort_index(ascending=False)

ee     50
dd     40
cc     30
bb     20
aa    100
Name: 국어점수, dtype: int64