In [1]:
import pandas as pd
import numpy as np

In [2]:
sr = pd.Series(['홍길동','이순신','김철수','김순이', '이홍김'],
                index=['aa','bb','cc','dd','ee'])
sr

aa    홍길동
bb    이순신
cc    김철수
dd    김순이
ee    이홍김
dtype: object

In [3]:
# 데이터가 문자열 시리즈객체의 str 속성을 이용한다.
# sr.index.str 문자열 index
sr.str # 데이터가 문자열인

### 문자열 인덱싱 슬라이싱

In [4]:
sr.str[0]

aa    홍
bb    이
cc    김
dd    김
ee    이
dtype: object

In [5]:
print(sr.str[1:])
print(sr.str[-1])

aa    길동
bb    순신
cc    철수
dd    순이
ee    홍김
dtype: object
aa    동
bb    신
cc    수
dd    이
ee    김
dtype: object

### 문자열 데이터 검색

#### 정규표현식 메타기호

In [6]:
# () 안의 문자가 있는지 확인
sr.str.contains('김철')

aa    False
bb    False
cc     True
dd    False
ee    False
dtype: bool

In [7]:
# 김으로 시작하는 데이터
sr[sr.str.contains('^김')]

cc    김철수
dd    김순이
dtype: object

In [8]:
# 김으로 끝나는 데이터
sr[sr.str.contains('김$')]

ee    이홍김
dtype: object

In [9]:
# 문자의 집합중 하나 (홍 또는 이 가 속한 데이터)
sr[sr.str.contains('[홍이]')]

aa    홍길동
bb    이순신
dd    김순이
ee    이홍김
dtype: object

In [10]:
# 홍순 또는 이순 이라는 데이터를 가져온다.
sr[sr.str.contains('[홍이]순')]

bb    이순신
dtype: object

In [11]:
# 길동 또는 순이
sr[sr.str.contains('길동|순이')]

aa    홍길동
dd    김순이
dtype: object

In [12]:
# '김'을 '황'으로 변경
# sr=sr.str.replace('김','황')
sr.str.replace('김','황')

aa    홍길동
bb    이순신
cc    황철수
dd    황순이
ee    이홍황
dtype: object

In [13]:
sr.str.replace('^김','황')

aa    홍길동
bb    이순신
cc    황철수
dd    황순이
ee    이홍김
dtype: object

In [14]:
sr.str.replace('김[철이]','황')

aa    홍길동
bb    이순신
cc     황수
dd    김순이
ee    이홍김
dtype: object

In [15]:
# 인덱스의 값 가져오기
print(sr.index.str.contains('a'))
sr[sr.index.str.contains('a')]

[ True False False False False]

aa    홍길동
dtype: object