In [1]:
import numpy as np

In [57]:
arr = np.array([11,22,33,44,55])
arr

array([11, 22, 33, 44, 55])

## 추가

In [27]:
arr

array([11, 22, 33, 44, 55])

In [28]:
arr = np.append(arr,[100,200])

In [29]:
# [값을 넣을 변수명, 위치, 넣을값]
np.insert(arr,1,[1,2])

array([ 11,   1,   2,  22,  33,  44,  55, 100, 200])

## 수정

In [37]:
arr

array([111, 226, 337,  46,  57, 100, 200])

In [38]:
arr[0] = 111

In [39]:
arr[1:3] = [222,333]

In [40]:
arr[3:5] =  arr[3:5] + 2

In [41]:
# 200보다 큰 데이터에 대해 기존값에 2를 더한 것으로 수정하시요

arr[arr>200] = arr[arr>200] + 2
arr

array([111, 224, 335,  48,  59, 100, 200])

## 삭제

In [42]:
np.delete(arr,[0,2])

array([224,  48,  59, 100, 200])

In [53]:
# 조건에 맞는 값의 인덱스 번호가 나옴
np.where(arr<100)
np.where(arr >= 100,'A','B')

array(['B', 'B'], dtype='<U1')

In [55]:
# 100이상인 값을 삭제하시오

arr = np.delete(arr, np.where(arr>=100))
arr

array([48, 59])

## 조건별 데이터 연산

In [58]:
arr

array([11, 22, 33, 44, 55])

In [82]:
np.where(arr>=30,'A','B')

array(['B', 'B', 'A', 'A', 'A'], dtype='<U1')

In [80]:
# 다중 조건에 출력값 설정
conList = [arr>40, arr>20, arr>0]
print(conList)
choiceList = ['A','B','C']
print(choiceList)
np.select(conList,choiceList)

[array([False, False, False,  True,  True]), array([False,  True,  True,  True,  True]), array([ True,  True,  True,  True,  True])]
['A', 'B', 'C']

array(['C', 'B', 'B', 'A', 'A'], dtype='<U11')

## 정렬

In [64]:
arr

array([11, 22, 33, 44, 55])

In [67]:
# 오름차순 정렬
print(np.sort(arr))

# 내림차순 정렬
print(np.sort(arr)[-1::-1])

[11 22 33 44 55]
[55 44 33 22 11]

In [69]:
# 오름차순된 값의 인덱스값을 추출
np.argsort(arr)

array([0, 1, 2, 3, 4], dtype=int64)

In [70]:
arr[np.argsort(arr)]

array([11, 22, 33, 44, 55])

In [74]:
name = np.array(['홍길동','김철수','임꺽정','철김이','이황철'])

In [78]:
# '철'이 속한 인덱스 값을 추출, 없으면 -1
# 찾은 문자열의 인덱스
np.char.find(name,'철')

array([-1,  1, -1,  0,  2])

In [77]:
name[np.char.find(name,'철')>=0]

array(['김철수', '철김이', '이황철'], dtype='<U3')